/*OBJECTS*/
body{
    background: url(assets/alaskabg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    }
 hr{
    min-width: 80px;
    max-width: 250px;
 }
 
 
 group{
    position: absolute;
    top: 7%;
    right: 5%;
    left: auto;
   
 }
 
 /* BANNERS */
 idbanner{
    position: static;
    z-index: -1;
    display: block;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 20px;
    margin-top: 90px;
    display: block;
    width: 280px;
    height: 800px;
    background: var(--Transparent-Fadeout, linear-gradient(180deg, rgba(204, 206, 220, 0.90) -27.57%, rgba(199, 255, 242, 0.00) 89.86%))
 }
 
 navbanner{
    width: 300px;
    height: 80px; 
    position: absolute;
    top: 10px;
    z-index: 1;
    margin: 10px 10px;
    font-family: 'Produkt';
    background: #CBE8F4; 
    border-radius: 5pt; 
    border: 1px black solid;
 }
 
 /* TEXT */
 identitytags{
    display: block;
    position: static;
    color: black;
    font-size: 14px;
    font-family: 'Proxima Nova';
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2.56px;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
   }
 
 /* UNITS */
 intbox{
    display: block;
    text-align: center;
    font-family: 'Spectral';
    background-color: #FFF;
    box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-style: outset;
    max-width: 150px;
 }

 libox{
   display: block;
   width: fit-content;
   max-width: 220px;
   height: fit-content;
   position: static;
   margin: auto;
   z-index: 1;
   background: rgba(255, 255, 255, 0.871);
   color: black;
   text-align: center;
   font-family: 'Spectral';
   font-size: small;
   border: 1px black solid;
   padding: 3px 6px 3px 6px;
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
   border-radius: 2pt;
 }