/*OBJECTS*/
body{
   background: url(assets/alaskabg.JPG);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: 0 0;
}

hr{
   min-width: 80px;
   max-width: 250px;
}

idbanner{
   position: absolute;
   z-index: -1;
   display: block;
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
   text-align: center;
   margin-left: 2%;
   margin-top: -10px;
   display: block;
   width: 280px;
   height: 800px;
   background: var(--Transparent-Fadeout, linear-gradient(180deg, rgba(204, 206, 220, 0.90) -27.57%, rgba(199, 255, 242, 0.00) 89.86%))
}

navbanner{
   min-width: 45%;
   max-width: 50%;
   height: 80px; 
   position: static;
   display: block;
   max-width: 400px;
   min-width: 200px;
   top: 10px;
   margin: 10px 10px;
   font-family: 'Produkt';
   background: #CBE8F4; 
   border-radius: 5pt; 
   border: 1px black solid;
}

identitytags{
   display: block;
   position: static;
   color: black;
   font-size: 14px;
   font-family: 'Proxima Nova';
   font-weight: 600;
   line-height: 16px;
   letter-spacing: 2.56px;
   text-align: center;
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}

libox{
   display: block;
   width: fit-content;
   max-width: 220px;
   height: fit-content;
   position: static;
   margin: auto;
   z-index: 1;
   background: rgba(255, 255, 255, 0.871);
   color: black;
   text-align: center;
   font-family: 'Spectral';
   font-size: small;
   border: 1px black solid;
   padding: 3px 6px 3px 6px;
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
   border-radius: 2pt;
}

intbox{
   position: static;
   display: block;
   text-align: center;
   font-family: 'Spectral';
   background-color: #FFF;
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
   padding: 10px 20px 10px 20px;
   margin: 5px;
   border-style: outset;
   width: 150px;
}


navlinks{
   position: fixed;
   top: 10px;
   right: 50px;
   display: inline-block;
   text-align: center;
   background-color: #cbd5f4;
   width: auto;
   height: auto;
   padding: 5px;
   border-radius: 2pt;
   font-family: 'Produkt';
}