/* HEADER OBJECTS */
banner{
   display: inline-block;
   position: static;
   background-color: thistle;
   margin: 2%;
   padding: 3%;
   border-radius: 2pt;
   font-family: 'Red Rose';
   font-size: x-large;
}
identitytags{
   display: block;
   position: static;
   color: black;
   font-size: 14px;
   font-family: 'Proxima Nova';
   font-weight: 600;
   line-height: 16px;
   letter-spacing: 2.56px;
   text-align: center;
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}
identitytags:hover {text-shadow: 2px 2px 1px #364058ae; font-size: 16px;}
/* BUTTONS */
discord{
   position: static;
   display: block;
   margin: 50px;
   padding: 15px;
   background: var(--Transparent-Fadeout, linear-gradient(180deg, rgba(204, 206, 220, 0.90) -27.57%, rgba(199, 255, 242, 0.00) 89.86%));
   border-radius: 4%;
}
navlinks{
   position: static;
   display: block;
   text-align: center;
   margin-left: auto;
   margin-right: auto; 
   margin-top: 10px;
   background-color: #cbd5f4;
   width: 120px;
   height: min-content;
   padding: 2px;
   border: 0.5px black solid;
   border-radius: 2pt;
   font-family: 'Produkt';
   font-size: small;
   z-index: 5;
}
navlinks:hover {background-color: #88a8dbd9;}

linksilike {
   position: static;
   display: block;
   text-align: center;
   margin: auto;
   background-color: #cbd5f4;
   width: min-content;
   height: min-content;
   padding-left: 10px;
   padding-right: 10px;
   border: 0.5px black solid;
   border-radius: 2pt;
   font-family: 'Produkt';
   font-size: x-small;
   z-index: 5;
}

/* EMPTY BLOCKS */
navbanner{
   width:90%;
   height: 70px; 
   position: static;
   display: block;
   margin: auto;
   background: #CBE8F4; 
   border-radius: 5pt;
   border: 1px black solid;
}

idbanner{
   position: static;
   z-index: -1;
   display: block;
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
   text-align: center;
   margin-left: 8%;
   margin-top: 0px;
   width: 270px;
   height: 1000px;
   background: var(--Transparent-Fadeout, linear-gradient(180deg, rgba(204, 206, 220, 0.90) -27.57%, rgba(199, 255, 242, 0.00) 89.86%));
}

/* TEXT BOXES */
texbox{
   position: static; 
   float: left;
   clear: both;
   height: fit-content;
   min-width: 30%;
   text-align: left;
   background-color: rgba(124, 174, 239, 0.869);
   margin: 5px;
   padding: 5px 10px 5px 10px;
   border: 2px outset rgba(18, 54, 54, 0.708);
   border-radius: 5pt;
   font-family: 'Dosis';
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
   }
texboxtiny{
   position: static; 
   float: right;
   height: fit-content;
   max-width: 50%;
   text-align: left;
   background-color: rgba(124, 174, 239, 0.869);
   margin: 5px;
   padding: 5px 10px 5px 10px;
   border: 2px outset rgba(18, 54, 54, 0.708);
   border-radius: 5pt;
   font-family: 'Dosis';
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
   }
intbox{
   position: static;
   display: inline;
   float: left;
   clear: none;
   min-width: 100px;
   height: fit-content;
   max-width: max-content;
   margin: 10px;
   background-color: #FFF;
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
   padding: 20px;
   border-style: outset;
   border-radius: 15%;
   font-family: 'Dosis';
   text-align: center;
}
idbo{
   position: static;
   display: block;
   background-color: rgb(167, 205, 239);
   padding: 4pt;
   text-align: left;
   margin: 5%;
}

/* FONTS */
prns{
  position: static;
  font-family: Dosis;
  padding: 25px;
  margin: 10px;
}

table{
  line-height: 120%;
  text-align: left;
  font-family: 'Dosis';
}
hr{
  min-width: 80px;
  max-width: 250px;
}

galleria{
  position: static;
  display: inline;
  object-fit: contain;
  height: 5px;
  width: 5px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 5px; 
  border: 1px black solid;
}