   /* BANNERS */
lovegroup{
   position: static;
   display: block;
   margin: auto;
   width: auto;
   height: fit-content;
   border: 5px outset black;
}

texbox{
   position: static; 
   display: block;
   min-width: 70%;
   max-width: 95%;
   text-align: left;
   background-color: rgba(124, 174, 239, 0.869);
   margin: 15px 10px;
   padding: 5px 15px 5px 15px;
   border: 2px outset rgba(17, 57, 57, 0.675);
   font-family: 'Red Rose';
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

   /* UNITS */
intbox{
   position: static;
   display: block;
   width: fit-content;
   height: fit-content;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: #FFF;
   box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
   padding: 20px;
   border-style: outset;
   text-align: center;
}

aline{
   position: static;
   display: block;
   line-height: 120%;
   text-align: start;
   font-size: normal;
   font-family: 'Red Rose';
}

bline{
   position: static;
   display: block;
   line-height: 120%;
   text-align: center;
   font-family: 'Red Rose';
}


